.main {
  width: 500px;
  height: 800px;
  border: 1px solid red;
  position: relative;
  margin: 0 auto;
}

.head {
  width: 220px;
  height: 200px;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  bottom: 50px;
  left: 138px;
}

.right-eye {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  bottom: 120px;
  right: 45px;
}

.left-eye {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  bottom: 120px;
  left: 50px;
}

.mouth {
  width: 216px;
  height: 5px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  bottom: 75px;
  left: 2px;
}

.body {
  width: 40px;
  height: 500px;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  left: 228px;
  bottom: 220px;
}

.notes {
  width: 30px;
  height: 390px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: 5px;
  bottom: 50px;
}

.notes input {
  width: 390px;
  height: 35px;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
  position: absolute;
  top: 239px;
  left: -4px;
  cursor: pointer;
}

input[type='range'] {
  width: 390px;
  -webkit-appearance: none;
  background-color: red;
  opacity: 0;
}

/* input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
} */

/* input[type='range']::-webkit-slider-thumb {
  width: 390px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #434343;
  box-shadow: -80px 0 0 80px #43e5f7;
} */

.tail {
  width: 170px;
  height: 40px;
  background-color: black;
  position: absolute;
  right: 100px;
  top: 80px;
}

#start {
  width: 200px;
  height: 100px;
}

.disappear {
  display: none;
}
